.App {
  text-align: center;
  background-color: #EFEFEF;
  min-height: 97.1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #FFFAFA; 

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  background-color: #61dafb;

}
.tittle {
  background-color: #9e9e9e;
  
}
.card-flex-wrapper {
  display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}


.performance {
  text-align: center;
  background-color: #F5F5F5;
  min-height: 48.3vh;
  width: 87.5%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 1.5vmin);
  color: #FFFAFA; 
}

.art-shadow h3 {
  text-shadow: 3px 2px #6c9bab;
  text-decoration: underline solid #6c9bab;
  
}
.px{
  width: 1050px;

}